:host {
    width: 100%;
    min-width: 100vw;
    border: solid 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    max-height: 6vh !important;
    box-sizing: border-box;
    height: var(--header-height);
}

:host > DIV {
    align-content: center;
    flex: 0 0 auto;
    height: 100%;
}

#header-profile-image,
#header-profile-image-placeholder,
#closer-header-profile-image-placeholder
{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    border-radius: 100px;

    /*display: block;*/
    width: auto;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

#closer-header-profile-image-placeholder
{
    grid-area: 1 / 1;
    width: 100%;
/*padding-right: 50px;*/
    box-sizing: border-box;
}
