<!--413-->
<page-title
    [title]="'Aggiungi Dispositivo'"
    [hasPlusButton]="false"
    [iconID]="'icon-413'"
></page-title>


<p-accordion [(value)]="activeAccordionValue">
    <p-accordion-panel value="0" [disabled]="step > 2">
        <p-accordion-header>
            @if( step > 0 ) {
                <svg class="greenOkIcon">
                    <use
                        [attr.href]="'#green-ok'"
                        [attr.xlink:href]="'#green-ok'">
                        >
                    </use>
                </svg>
            }
            @else {
                <svg class="greenOkIcon">
                    <use
                        [attr.href]="'#icon-578'"
                        [attr.xlink:href]="'#icon-578'">
                        >
                    </use>
                </svg>
            }
            Accoppiamento
        </p-accordion-header>
        <p-accordion-content>

            <div id="commisioning-type-step">


                <div
                    #knownDevice
                    id="knownDevice"
                    class="card"
                    (click)="commisioningTypeSelected('knownDevice')"
                >
                    <svg #knownDeviceIcon>
                        <use
                            [attr.href]="'#icon-209'"
                            [attr.xlink:href]="'#icon-209'">
                            >
                        </use>
                    </svg>
                    <div>Dispositivo configurato</div>
                </div>
                <div
                    #newDevice
                    id="newDevice"
                    class="card"
                    (click)="commisioningTypeSelected('newDevice')"
                >
                    <svg #newDeviceIcon>
                        <use
                            [attr.href]="'#icon-535'"
                            [attr.xlink:href]="'#icon-535'">
                            >
                        </use>
                    </svg>
                    <div>Dispositivo da associare</div>
                </div>
            </div>

        </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="1" [disabled]="step > 3">
        <p-accordion-header>
            @if( step > 1 ) {
                <svg class="greenOkIcon">
                    <use
                        [attr.href]="'#green-ok'"
                        [attr.xlink:href]="'#green-ok'">
                        >
                    </use>
                </svg>
            }
            @else {
                <svg class="greenOkIcon">
                    <use
                        [attr.href]="'#icon-578'"
                        [attr.xlink:href]="'#icon-578'">
                        >
                    </use>
                </svg>
            }
            Kind
        </p-accordion-header>
        <p-accordion-content>
            <div id="phisical-device-step">
                <div
                    id="newShelly"
                    class="card"
                    (click)="deviceVendorTypeSelected('shelly')"
                >
                    <svg>
                        <use
                            [attr.href]="'#icon-620'"
                            [attr.xlink:href]="'#icon-620'">
                            >
                        </use>
                    </svg>
                    <div>Shelly</div>
                </div>
                <div
                    id="newTuya"
                    class="card"
                    (click)="deviceVendorTypeSelected('tuya')"
                >
                    <svg>
                        <use
                            [attr.href]="'#icon-621'"
                            [attr.xlink:href]="'#icon-621'">
                            >
                        </use>
                    </svg>
                    <div>Tuya</div>
                </div>
                <div
                    id="newMatter"
                    class="card"
                    (click)="deviceVendorTypeSelected('matter')"
                >
                    <svg>
                        <use
                            [attr.href]="'#icon-615'"
                            [attr.xlink:href]="'#icon-615'">
                            >
                        </use>
                    </svg>
                    <div>Matter</div>
                </div>
                <div
                    id="newOther"
                    class="card"
                    (click)="deviceVendorTypeSelected('other')"
                >
                    <svg>
                        <use
                            [attr.href]="'#icon-602'"
                            [attr.xlink:href]="'#icon-602'">
                            >
                        </use>
                    </svg>
                    <div>Altro</div>
                </div>


                <!--
                <div
                    id="newBluetooth"
                    class="card"
                    (click)="deviceVendorTypeSelected('bluetooth')"
                >
                    <svg>
                        <use
                            [attr.href]="'#icon-bluetooth'"
                            [attr.xlink:href]="'#icon-bluetooth'">
                            >
                        </use>
                    </svg>
                    <div>Bluetooth</div>
                </div>
                <div
                    id="newRemoteNow"
                    class="card"
                    (click)="deviceVendorTypeSelected('hisense-remotenow')"
                >
                    <svg>
                        <use
                            [attr.href]="'#icon-587'"
                            [attr.xlink:href]="'#icon-587'">
                            >
                        </use>
                    </svg>
                    <div>Hisense / VIDAA</div>
                </div>
                -->
            </div>
        </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="2" [disabled]="step > 4">
        <p-accordion-header>
            @if( step > 2 ) {
                <svg class="greenOkIcon">
                    <use
                        [attr.href]="'#green-ok'"
                        [attr.xlink:href]="'#green-ok'">
                        >
                    </use>
                </svg>
            }
            @else {
                <svg class="greenOkIcon">
                    <use
                        [attr.href]="'#icon-578'"
                        [attr.xlink:href]="'#icon-578'">
                        >
                    </use>
                </svg>
            }
            Tipologia
        </p-accordion-header>
        <p-accordion-content>
            <div class="taxonomy-step">
                <p class="taxonomy-intro">
                    Integrazione selezionata: <strong>{{ integration }}</strong>. Il tipo descrive il comportamento
                    del dispositivo; protocollo e adapter restano indipendenti dalla categoria.
                </p>

                @if (taxonomyLoading()) {
                    <p>Caricamento dei tipi disponibili…</p>
                } @else if (taxonomyError()) {
                    <p class="taxonomy-error">{{ taxonomyError() }}</p>
                } @else {

                    <div>
                        @for (item of catalog(); track item.id) {
                            <div
                                class="small-card"
                                id="catalog-{{ item.id }}"
                                (click)="selectCatalogItemId( item.id )"
                            >
                                <!--
                                lamp/led strip
                                    emoj - light_bulb
                                    svg - Icon-325
                                    svg - Icon-65
                                dimmerable lamp/led strip
                                    svg - Icon-66

                                socket
                                    emoj - high_voltage
                                    svg - Icon-272
                                fan
                                    svg - Icon-490

                                curtain
                                    emoj - window
                                    emoj - city_scape
                                    svg - Icon-11
                                    svg - Icon-498

                                Irrigazione

                                Livello Cisterna

                                valve
                                    emoj - potable_water
                                    svg - icon-566
                                    svg - icon-123
                                pump

                                gate
                                    emoj - shinto_shrine

                                door
                                    emoj - door
                                tv
                                airConditioner
                                    emoj - ice
                                    emoj - snow_flake
                                    svg - Icon-119
                                termostat
                                headphone
                                speacker
                                gameConsole
                                    emoj - joystick
                                    emoj - video_game
                                printer
                                3Dprinter
                                MovementSensor
                                LightSensor
                                EnergyMeter
                                SolarSystemMonitor
                                Car
                                ElectricCar
                                MotorCycle
                                ElectricScooter
                                ElectricBicyle
                                GPSTag


                                    emoj -  water_wave
                                            watch

                                            thought_balloon
                                            thermometer
                                            sweat_droplets
                                            speech_balloon
                                            shower
                                            seedling
                                            round_pushpin
                                            rolled_up_newspaper
                                            police_car_light
                                            palm_tree
                                            newspaper

                                            handshake
                                            fire
                                            desert
                                            control_knobs
                                            cactus
                                            bathtub
                                            bed
                                            deciduous_tree






                                -->
                                <svg>
                                    <use
                                        [attr.href]="'#icon-602'"
                                        [attr.xlink:href]="'#icon-602'">
                                        >
                                    </use>
                                </svg>
                                <div>{{ item.id +' - '+ item.name }}</div>
                            </div>
                        }
                    </div>

<!--                    <label>-->
<!--                        Dispositivo-->
<!--                        <select-->
<!--                            name="catalogItem"-->
<!--                            [(ngModel)]="selectedCatalogItemId"-->
<!--                            (ngModelChange)="catalogItemSelected()"-->
<!--                        >-->
<!--                            <option value="">Seleziona un dispositivo</option>-->
<!--                            @for (item of catalog(); track item.id) {-->
<!--                                <option [value]="item.id">{{ item.name }}</option>-->
<!--                            }-->
<!--                        </select>-->
<!--                    </label>-->

                    @if (selectedCatalogItem()) {
                        <div class="classification-summary">
                            <strong>{{ selectedCatalogItem()!.name }}</strong>
                            <span>Icona: {{ selectedCatalogItem()!.icon }}</span>
                            <p>{{ selectedCatalogItem()!.description }}</p>
                        </div>
                        <label>
                            Tipo funzionale
                            <select
                                name="functionalType"
                                [(ngModel)]="selectedFunctionalType"
                                (ngModelChange)="functionalTypeSelected()"
                            >
                                <option value="">Seleziona una funzionalità</option>
                                @for (type of compatibleTypeDefinitions(); track type.id) {
                                    <option [value]="type.id">{{ type.name }} — {{ type.category }}</option>
                                }
                            </select>
                        </label>
                    }

                    @if (selectedTypeDefinition()) {
                        <div class="classification-summary">
                            <strong>{{ selectedTypeDefinition()!.name }}</strong>
                            <span>Categoria: {{ selectedTypeDefinition()!.category }}</span>
                            <p>{{ selectedTypeDefinition()!.description }}</p>
                        </div>
                    }

                    @if (selectedCatalogItem()?.usage) {
                        <small>
                            Uso assegnato automaticamente: {{ selectedCatalogItem()!.name }}.
                        </small>
                    }
                }
            </div>
        </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="3" [disabled]="step > 5">
        <p-accordion-header>
            @if( step > 3 ) {
                <svg class="greenOkIcon">
                    <use
                        [attr.href]="'#green-ok'"
                        [attr.xlink:href]="'#green-ok'">
                        >
                    </use>
                </svg>
            }
            @else {
                <svg class="greenOkIcon">
                    <use
                        [attr.href]="'#icon-578'"
                        [attr.xlink:href]="'#icon-578'">
                        >
                    </use>
                </svg>
            }
            Discovery & Selection
        </p-accordion-header>
        <p-accordion-content>
            content
        </p-accordion-content>
    </p-accordion-panel>
</p-accordion>
