
<page-title
    [title]="'Dispositivi'"
    [hasPlusButton]="true"
    [iconID]="'icon-521'"
    (plusButtonClick)="addDevice()"
></page-title>


<p-tabs value="device">
    <p-tablist>
        <p-tab value="device" (click)="activeTab('device')">
            <div>
                <svg>
                    <use
                        [attr.href]="'#icon-587'"
                        [attr.xlink:href]="'#icon-587'">
                        ></use>
                </svg>
                @if( value === 'device' ) {
                    <b>Dispositivi</b>
                }
                @else {
                    <span>Dispositivi</span>
                }
            </div>
        </p-tab>
        <p-tab value="groups" (click)="activeTab('groups')">
            <div>
                <svg>
                    <use
                        [attr.href]="'#icon-541'"
                        [attr.xlink:href]="'#icon-541'">
                        ></use>
                </svg>
                @if( value === 'groups' ) {
                    <b>Gruppi</b>
                }
                @else {
                    <span>Gruppi</span>
                }
            </div>
        </p-tab>
        <p-tab
            value="network"
            (click)="startScan()"
            (click)="activeTab('network')"
            [disabled]="(!hasPermission('READ_NETWORK_DEVICES'))"
        >
            <div>
                <svg>
                    <use
                        [attr.href]="'#icon-585'"
                        [attr.xlink:href]="'#icon-585'">
                        ></use>
                </svg>
                @if( value === 'network' ) {
                    <b>Rete</b>
                }
                @else {
                    <span>Rete</span>
                }
                @if (!hasPermission('READ_NETWORK_DEVICES')) {
                    <img
                        class="tab-locked-image"
                        [src]="lockedImage()"
                    >
                }

            </div>
        </p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="device">
            device dell'app
        </p-tabpanel>
        <p-tabpanel value="groups">
            gruppi dell'app
        </p-tabpanel>
        <p-tabpanel
            value="network"
        >
            <div>
                <H4>dispositivi in rete</H4>
                @if( !!isInScanning() ){
                    <div class="heartbeat-flash">scanning...</div>
                }
                @else {
                    @for (ipDevice of ipDevices; track ipDevice) {
                        <device-ip-block
                            [ipDevice]="ipDevice"
                        >
                        </device-ip-block>
                    }
                }
            </div>
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>




    <!--    Dispositivi del sistema -->
    <!--    Dispositivi tramite IP (DHCP) -->
    <!--    Dispositivi tramite loro accessPoint -->


