p-tabs, p-tablist, p-tabpanels, p-tabpanel {
    background: transparent !important;
}

p-tab {
    padding: 0.5rem;
    width: 33%;
}


p-tab > DIV {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    /*width: 5rem;*/
    width: 100%;
}


p-tab > DIV > SVG, svg {
    height: 1.5rem;
    /*height: 100%;*/
    opacity: 0.5;
    aspect-ratio: 1;
    object-fit: cover;
    margin-right: 0.5rem
}

p-tab > DIV > SPAN, B {
    display: flex;
    ali-self: center;
}


.tab-locked-image {
    width: 18px;
    height: 18px;
    position: relative;
    top: 4px;
    margin-left: 0.3rem;
}

