p-tabs, p-tablist, p-tabpanels, p-tabpanel {
    background: transparent !important;
}

p-tab {
    padding: 0.5rem;
    width: 33%;
}


p-tab > DIV {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    /*width: 5rem;*/
    width: 100%;
}


p-tab > DIV > SVG, svg {
    height: 1.5rem;
    /*height: 100%;*/
    opacity: 0.5;
    aspect-ratio: 1;
    object-fit: cover;
    margin-right: 0.5rem
}

p-tab > DIV > SPAN, B {
    display: flex;
    ali-self: center;
}


.tab-locked-image {
    width: 18px;
    height: 18px;
    position: relative;
    top: 4px;
    margin-left: 0.3rem;
}

/*
.registered-devices {
    display: grid;
    gap: 1rem;
}


.registered-device {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border-radius: 8px;
    background: var(--color-background-3);
}

.registered-device > div,
.registered-device dl div {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.registered-device > div {
    flex-direction: column;
}

.registered-device dl {
    display: grid;
    gap: 0.5rem;
    margin: 0;
}

.registered-device dt,
.registered-device dd {
    margin: 0;
}

.registered-device dt {
    color: var(--color-text-2);
}
*/

.devices-error {
    color: var(--color-error, #c62828);
}

.device-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    align-items: center;
    background: var(--color-background-3);
    border-radius: 6px;
    margin: 0.5rem auto;
    min-width: 90vw;
    width: 100%;
    max-width: 95vw;
    padding: 0.6rem;
    height: 4rem;

    font-size: var(--main-font-size);
    color: var(--color-text-2);
}

.device-row-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

.device-row-info > DIV {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 90%;
}

.device-row-emoj {
    font-size: 2.2rem;
    margin-right: 1.2rem;
}

.device-row-svg {}

.device-row-img {}

.device-row-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.device-row-data > DIV {
    font-size: var(--tiny-font-size);
}

.device-row-ip {}

.device-row-status {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}




