
<page-title
    [title]="'Dispositivi'"
    [hasPlusButton]="true"
    [iconID]="'icon-521'"
    (plusButtonClick)="addDevice()"
></page-title>


<p-tabs value="device">
    <p-tablist>
        <p-tab value="device" (click)="activeTab('device')">
            <div>
                <svg>
                    <use
                        [attr.href]="'#icon-587'"
                        [attr.xlink:href]="'#icon-587'">
                        ></use>
                </svg>
                @if( value === 'device' ) {
                    <b>Dispositivi</b>
                }
                @else {
                    <span>Dispositivi</span>
                }
            </div>
        </p-tab>
        <p-tab value="groups" (click)="activeTab('groups')">
            <div>
                <svg>
                    <use
                        [attr.href]="'#icon-541'"
                        [attr.xlink:href]="'#icon-541'">
                        ></use>
                </svg>
                @if( value === 'groups' ) {
                    <b>Gruppi</b>
                }
                @else {
                    <span>Gruppi</span>
                }
            </div>
        </p-tab>
        <p-tab
            value="network"
            (click)="startScan()"
            (click)="activeTab('network')"
            [disabled]="(!hasPermission('READ_NETWORK_DEVICES'))"
        >
            <div>
                <svg>
                    <use
                        [attr.href]="'#icon-585'"
                        [attr.xlink:href]="'#icon-585'">
                        ></use>
                </svg>
                @if( value === 'network' ) {
                    <b>Rete</b>
                }
                @else {
                    <span>Rete</span>
                }
                @if (!hasPermission('READ_NETWORK_DEVICES')) {
                    <img
                        class="tab-locked-image"
                        [src]="lockedImage()"
                    >
                }

            </div>
        </p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="device">
            @if (devicesLoading()) {
                <p>Caricamento dispositivi…</p>
            } @else if (devicesError()) {
                <p class="devices-error">{{ devicesError() }}</p>
            } @else if (devices().length === 0) {
                <p>Nessun dispositivo registrato.</p>
            } @else {
                <div class="registered-devices">


                    @for(group of deviceGroups(); track group.room.id) {
                        <div>{{ group.room.name }}</div>


                        @for (device of group.devices; track device.id) {


                            <div class="device-row" (click)="gotoDeviceDetailsPage(device.id)">
                                @if( !!device.imgIcon ) {
                                    <img class="device-row-img" [src]="device.imgIcon">
                                }
                                @else {
                                    @if( !!device.emoj ) {
                                        <div class="device-row-emoj">{{ itemEmojIcon( device.emoj ) }}</div>
                                    }
                                    @else {
                                        <svg
                                            class="device-row-svg"
                                        >
                                            <use
                                                [attr.href]="'#' + (device.svgIcon ?? 'icon-602')"
                                                [attr.xlink:href]="'#' + (device.svgIcon ?? 'icon-602')">
                                                >
                                            </use>
                                        </svg>
                                    }

                                }
                                <div class="device-row-info">
                                    <div>
                                        <strong>{{ device.name }}</strong>
    <!--                                    <div>STANZA</div>-->
                                    </div>

                                    <div class="device-row-data">
                                        <div class="device-row-ip">{{ device.ip }}</div>
                                        <div class="device-row-status">
                                            <!-- TODO opacity in base al segnale -->
                                            <span [style]="'opacity: '+ wifiSignalInOpacityRange(device) +';'">WiFi</span>
                                            <!--
                                            <span>ON</span>
                                            -->
                                        </div>
                                    </div>
                                </div>
                                <!-- TODO da spostare nella pagina di dettaglio
                                <svg
                                    id="open-newDevice-data-tree-panel-button-icon"
                                    (click)="openNewDeviceDateTree( device )"
                                >
                                    <use href="#icon-215"></use>
                                </svg>
                                -->
                                <!-- TODO button, input, component -->

                                @if( (''+ device.type.id).trim().toLowerCase().indexOf('switch') !== -1 ) {
                                    <switcher-component
                                        [isReadOnly]="false"
                                        [check]="!!deviceChannelStatus(device, 'output')"
                                        [inWait]="isDeviceInWaiting( device )"
                                        (toggle)="switchAction(device, $event)"
                                    ></switcher-component>
                                }
                                @else {
                                    @if( (''+ device.type.id).trim().toLowerCase().indexOf('sensor') !== -1 ) {

                                    }
                                    @else {

                                    }
                                }

                            </div>



    <!--                        <article class="registered-device">-->
    <!--                            <div>-->
    <!--                                <strong>{{ device.name }}</strong>-->
    <!--                                <span>{{ device.where.name || 'Posizione non indicata' }}</span>-->
    <!--                            </div>-->
    <!--                            <dl>-->
    <!--                                <div><dt>Categoria</dt><dd>{{ device.category.name || device.category.id || 'Non classificato' }}</dd></div>-->
    <!--                                <div><dt>Tipo</dt><dd>{{ device.type.name || device.type.id || 'Non classificato' }}</dd></div>-->
    <!--                                @if (device.catalogItemId) {-->
    <!--                                    <div><dt>Catalogo</dt><dd>{{ device.catalogItemId }}</dd></div>-->
    <!--                                }-->
    <!--                                <div><dt>Famiglia</dt><dd>{{ device.family }}</dd></div>-->
    <!--                            </dl>-->
    <!--                        </article>-->
                        }
                    }

                    <div>No Room</div>

                </div>
            }
        </p-tabpanel>
        <p-tabpanel value="groups">
            gruppi dell'app
        </p-tabpanel>
        <p-tabpanel
            value="network"
        >
            <div>
                <H4>dispositivi in rete</H4>
                @if( !!isInScanning() ){
                    <div class="heartbeat-flash">scanning...</div>
                }
                @else {
                    @for (ipDevice of ipDevices; track ipDevice) {
                        <device-ip-block
                            [ipDevice]="ipDevice"
                        >
                        </device-ip-block>
                    }
                }
            </div>
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>




@if( deviceDataTreePanelOpen() ) {
    <div
        class="floating-panel-backpan"
        (click)="newDeviceDataTreePanelClose()"
    >
        <div
            class="floating-panel"
        >
            <div>
                <svg><use href="#icon-215"></use></svg>
                <strong>Dati Nuovo Dispositivo</strong>
                <svg
                    id="copy-newDevice-data-tree-icon-button"
                    (click)="copyNewDeviceData($event)"
                >
                    @if(!isCopied()) {
                        <use href="#icon-106"></use>
                    }
                    @else {
                        <use href="#icon-46"></use>
                    }
                </svg>
            </div>
            <pre>{{ deviceDataTreePanelOpen() | json }}</pre>
        </div>
    </div>
}
