:host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
}


SECTION {
    background: var(--color-background-1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 28%;
    height: auto;
    aspect-ratio: 1;
    margin: 0.5rem;
    padding: 1rem;
    cursor: pointer;
}

.svg-icon {
    width: 100%;
    aspect-ratio: 1;
}

LABEL {
    color: var(--color-text-1);
    font-size: var(--main-font-size);
    font-family: var(--page-font);
}


/* portato qui da header */
#header-profile-image,
#header-profile-image-placeholder,
#closer-header-profile-image-placeholder
{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    border-radius: 100px;

    /*display: block;*/
    width: auto;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

#closer-header-profile-image-placeholder
{
    grid-area: 1 / 1;
    width: 100%;
    /*padding-right: 50px;*/
    box-sizing: border-box;
}


.lipariStudiosLogo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: contain;
}

