<!--MobileMenu-->

<!--<div>{{ user | json }}</div>-->


@if (hasPermission('LIST_USERS')) {
    <section
        (click)="gotoPage('/users')"
    >
        <svg
            class="svg-icon"
        >
            <!--            <use href="#utenti-icon-1"></use>-->
            <use href="#utenti-icon-2"></use>
        </svg>
        <label>Utenti</label>
    </section>
}

<section
    (click)="gotoPage('')"
>
    <svg
        class="svg-icon"
    >
        <use href="#devices-list-icon-1"></use>
        <!--                    <use href="#devices-list-icon-2"></use>-->
        <!--                    <use href="#devices-list-icon-3"></use>-->
    </svg>
    <label>Dispositivi</label>
</section>

<section
    (click)="gotoPage('')"
>
    <svg
        class="svg-icon"
    >
        <use href="#timer_icon_1"></use>
        <!--                <use href="#timer_icon_2"></use>-->
    </svg>
    <label>Timer</label>
</section>

<section
    (click)="gotoPage('')"
>
    <svg
        class="svg-icon"
    >
        <use href="#scenario_icon_1"></use>
        <!--                <use href="#scenario_icon_2"></use>-->
        <!--                <use href="#scenario_icon_3"></use>-->
    </svg>
    <label>Scenari</label>
</section>

<section
    (click)="gotoPage('')"
>
    <svg
        class="svg-icon"
    >
        <!--        <use href="#logs_icon_1"></use>-->
        <!--                <use href="#logs_icon_2"></use>-->
        <use href="#logs_icon_3"></use>
        <!--                <use href="#scenario_icon_3"></use>-->
        <!--                <use href="#logs_icon_4"></use>-->
    </svg>
    <label>Log</label>
</section>

<!--  solo per test -->
@if (hasPermission('NOT_EXISTS')) {
    <section>
        <span>icon</span>
        <label>HIDDEN</label>
    </section>
}


<section
    (click)="gotoPage('')"
>
    <svg
        class="svg-icon"
    >
        <!--        <use href="#settings_icon_1"></use>-->
        <use href="#settings_icon_2"></use>
        <!--                <use href="#settings_icon_3"></use>-->
    </svg>
    <label>Impostazioni</label>
</section>


