

<!-- scenari ------------------------------------------------------------------>
<section
    (click)="gotoPage('')"
>
    <svg
        class="svg-icon"
    >
        <use href="#scenario_icon_1"></use>
        <!--                <use href="#scenario_icon_2"></use>-->
        <!--                <use href="#scenario_icon_3"></use>-->
    </svg>
    <label>Scenari</label>
</section>



<!-- dispositivi ----------------------------------------------------------------->
<section
    (click)="gotoPage('/devices-page')"
>
    <svg
        class="svg-icon"
    >
<!--        <use href="#devices-list-icon-1"></use>-->
        <use href="#icon-581"></use>
        <!--                    <use href="#devices-list-icon-2"></use>-->
        <!--                    <use href="#devices-list-icon-3"></use>-->
    </svg>
    <label>Dispositivi</label>
</section>




<!-- timer ------------------------------------------------------------------------->
<section
    (click)="gotoPage('')"
>
    <svg
        class="svg-icon"
    >
        <use href="#timer_icon_1"></use>
        <!--                <use href="#timer_icon_2"></use>-->
    </svg>
    <label>Timer</label>
</section>


<!-- raccolta rifiuti ---------------------------------------------------------------
<section
    (click)="gotoPage('/waste-collection')"
>
    <svg
        class="svg-icon"
    >
        <use href="#timer_icon_1"></use>
    </svg>
    <label>Raccolta</label>
</section>
-->



<!-- stanze ------------------------------------------------------------------------->
<section
    (click)="gotoPage('')"
>
    <svg
        class="svg-icon"
    >
        <use href="#Door02"></use>
        <!--                <use href="#timer_icon_2"></use>-->
    </svg>
    <label>Stanze</label>
</section>





<!-- utenti ------------------------------------------------------------------------->
@if (hasPermission('LIST_USERS')) {
    <section
        (click)="gotoPage('/users-page')"
    >
        <svg
            class="svg-icon"
        >
            <!--            <use href="#utenti-icon-1"></use>-->
            <use href="#utenti-icon-2"></use>
        </svg>
        <label>Utenti</label>
    </section>
}




<!--<section-->
<!--    (click)="gotoPage('')"-->
<!--&gt;-->
<!--    <svg-->
<!--        class="svg-icon"-->
<!--    >-->
<!--        &lt;!&ndash;        <use href="#logs_icon_1"></use>&ndash;&gt;-->
<!--        &lt;!&ndash;                <use href="#logs_icon_2"></use>&ndash;&gt;-->
<!--        <use href="#logs_icon_3"></use>-->
<!--        &lt;!&ndash;                <use href="#scenario_icon_3"></use>&ndash;&gt;-->
<!--        &lt;!&ndash;                <use href="#logs_icon_4"></use>&ndash;&gt;-->
<!--    </svg>-->
<!--    <label>Log</label>-->
<!--</section>-->





<!--profilo-->
<section
    (click)="gotoPage('/profile/page')"
>
    @if( !!user ) {
        <img
            id="header-profile-image"
            [src]="!!user ? user.picture : ''"
        />
    }
    @else {
        <svg
            class="svg-icon"
            id="header-profile-image-placeholder"
        >
            <use href="#header-profile-image-placeholder"></use>
        </svg>
    }
    <label>Profilo</label>
</section>

<!--  solo per test -->
@if (hasPermission('NOT_EXISTS')) {
    <section>
        <span>icon</span>
        <label>HIDDEN</label>
    </section>
}




<!--stanze-->



<!--impostazioni-->
<section
    (click)="gotoPage('')"
>
    <svg
        class="svg-icon"
    >
        <!--        <use href="#settings_icon_1"></use>-->
<!--        <use href="#settings_icon_2"></use>-->
        <use href="#icon-407"></use>
        <!--                <use href="#settings_icon_3"></use>-->
    </svg>
    <label>Impostazioni</label>
</section>



<section
    (click)="gotoPage('')"
>
    <svg
        class="svg-icon"
    >
        <!--        <use href="#settings_icon_1"></use>-->
<!--        <use href="#settings_icon_2"></use>-->
        <use href="#Help"></use>
        <!--                <use href="#settings_icon_3"></use>-->
    </svg>
    <label>Help</label>
</section>




<!--credentials-->
<section
    (click)="gotoPage('')"
>
    <img
        [src]="lipariStudiosImage()"
        class="lipariStudiosLogo"
    >
    <label>LipariOS</label>
</section>
