
<app-svg-sprite></app-svg-sprite>

@if (availableUpdate(); as update) {
    <!-- TODO layout e css da sistemare   -->
    <aside class="pwa-notice" role="status" aria-live="polite">
        <span>
            Nuova versione LipariOS{{ update.version ? ' ' + update.version : '' }} disponibile.
            Aggiornamento automatico tra {{ secondsUntilReload() ?? 10 }} secondi.
        </span>
    </aside>
} @else if (canInstallPwa()) {
    <aside class="pwa-notice" role="status">
        <span>Installa <b>Mobile App | LipariOS</b> su questo dispositivo.</span>
        <button type="button" (click)="installPwa()">Installa</button>
    </aside>
}


    @if ( user(); as user ) {
        <app-header
            [user]="user"
            [isInProfilePage]="!!isInProfilePage()"
            (menuToggle)="drawerVisible = true"
        ></app-header>
    }

    <div>
        @if ( user(); as user ) {
            <div class="device tablet desktop">
                Menu
            </div>
        }
            <router-outlet />
    </div>




<!--<section class="base-text-style debug-device" id="mobile">mobile</section>-->
<!--<section class="base-text-style debug-device" id="tablet">tablet</section>-->
<!--<section class="base-text-style debug-device" id="desktop">desktop</section>-->


<p-drawer
    [(visible)]="drawerVisible"
    position="bottom"
    [modal]="true"
    [dismissible]="true"
    [showCloseIcon]="false"
    [style]="{
        height: '50vh',
        borderTopLeftRadius: '24px',
        borderTopRightRadius: '24px'
      }"
>
    <mobile-menu
        [user]="user()"
        (menuClose)="drawerVisible = false"
    ></mobile-menu>
</p-drawer>
