:host {
    min-width: 100vw;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    /*display: flex;*/

}

:host > DIV {
    min-height: calc(100vh - var(--header-height));
}

.drawer-handle {
    width: 48px;
    height: 5px;
    border-radius: 999px;
    background: #ccc;
    margin: 8px auto 16px;
}
