

/* visibile per tutto */
[data-theme='dark'] {


    /*  Header  */

    /* Colori */
    --color-background-1: rgb(27, 27, 27);
    --color-background-2: rgb(33, 33, 33);
    --color-background-3: rgb(40, 40, 40);


    --color-ambient-1: rgb(50, 50, 50);
    --color-ambient-2: rgb(140, 200, 250);

    --color-text-1: rgb(101, 101, 101);
    --color-text-2: rgb(128, 128, 128);
    --color-text-0: rgb(80, 80, 80);


    --color-evident-1: #138;  /* todo */
    --color-evident-2: #18f;  /* todo */



    --light-color: #fff;  /* todo */
    --dark-color: #000;  /* todo */
    --theme-color: #fff;  /* todo */


    --different-blur-for-theme: 2px;  /* todo */

    --big-opacity-theme-color: #fffc;
    --middle-opacity-theme-color: #fff7;
    --small-opacity-theme-color: #0006;
    --middle-opacity-inverse-theme-color: #fff2;
    --small-black-color: #0003;
}
