@media
only screen
and (max-width: 639.98px)
{
    .device.mobile,
    .debug-device#mobile {
        display: revert;
    }

    .field {
        /*border: solid #d00 1px;*/
        flex-direction: column;
        align-items: flex-start;
        /*margin-left: calc(35%);*/
        margin-bottom: 2rem !important;
    }

    .p-inputtext {
        width: 100%;
    }

    .fixed-value-input {
        background: var(--color-background-3) !important;
        border-color: var(--color-background-2) !important;
        width: 100%;

        font-size: var(--main-font-size) !important;

    }

    .bottom-field {
        width: 100%;
    }

    .signup-field {
        margin-bottom: 2rem;
    }

}
